<div
  class="grid grid-cols-1 h-[85vh] pb-20 gap-4 md:grid-cols-[auto_1fr] w-full custom-scroll overflow-y-auto snap-y snap-proximity"
>
  <form [formGroup]="availabilityForm" class="snap-start" (ngSubmit)="onAppointmenetSubmit()">
    <div
      class="border h-100 bg-slate-800 border-gray-500 rounded-2xl p-6 flex flex-col gap-4 text-white"
    >
      <div class="flex items-center gap-2 mb-2">
        <div class="bg-green-800/80 p-1 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </div>
        <h1 class="text-xl font-semibold">Ajouter une disponibilité</h1>
      </div>

      <!-- Date -->
      <div>
        <label class="block text-sm font-medium mb-1">Sélectionner la date</label>
        <div
          [ngClass]="{
            'border-red-500': isInvalid('available_date'),
            'border-gray-500': !isInvalid('available_date'),
          }"
          class="border rounded-md p-2 bg-slate-700 transition-colors"
        >
          <input
            type="date"
            formControlName="available_date"
            required
            class="w-full bg-transparent outline-none text-white appearance-none"
          />
        </div>
        <p *ngIf="isInvalid('available_date')" class="text-red-400 text-xs mt-1">
          La date est requise.
        </p>
      </div>

      <!-- Times -->
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
          <label class="block text-sm font-medium mb-1">Heure début</label>
          <div
            [ngClass]="{ 'border-red-500': isInvalid('start_time') }"
            class="border border-gray-500 rounded-md bg-slate-700"
          >
            <input
              type="time"
              formControlName="start_time"
              required
              class="w-full p-2 bg-transparent outline-none text-white"
            />
          </div>
        </div>
        <div class="flex-1">
          <label class="block text-sm font-medium mb-1">Heure fin</label>
          <div
            [ngClass]="{ 'border-red-500': isInvalid('end_time') }"
            class="border border-gray-500 rounded-md bg-slate-700"
          >
            <input
              type="time"
              formControlName="end_time"
              required
              class="w-full p-2 bg-transparent outline-none text-white"
            />
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mt-4">
        <button
          type="submit"
          [disabled]="availabilityForm.invalid"
          class="bg-blue-600 hover:bg-blue-700 disabled:bg-slate-600 disabled:text-gray-400 disabled:cursor-not-allowed transition-all text-white font-bold w-full py-3 rounded-full shadow-lg"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
  <div
    class="border h-100 bg-slate-800 border-gray-500 rounded-2xl p-4 snap-end flex flex-col justify-between"
  >
    <div>
      <p class="font-medium text-xl">user messages request</p>
    </div>

    <div class="h-[90%] custom-scroll overflow-y-auto snap-y snap-proximity space-y-4 pb-20">
      <div
        *ngFor="let message of patientsUserRequests()"
        class="w-full border gap-8 md:gap-0 border-gray-500 p-2 rounded-2xl md:rounded-full flex flex-col md:flex-row md:justify-between items-center"
      >
        <div class="flex gap-2">
          <div
            class="w-16 h-16 rounded-full border-gray-500 border-2 border-dotted overflow-hidden"
          >
            @if (true) {
              <div
                class="text-2xl font-bold text-slate-400 h-full w-full flex items-center justify-center bg-slate-900"
              >
                <p class="uppercase">
                  {{ message.patient.profile.name.slice(0, 1) }}
                  {{ message.patient.profile.lastname.slice(0, 1) }}
                </p>
              </div>
            } @else {
              <img
                src="https://i.pinimg.com/1200x/3e/f3/50/3ef350dc86cc82a092463e5d795654b5.jpg"
                alt=""
                class="w-full h-full"
              />
            }
          </div>
          <div>
            <p class="font-bold">
              {{ message.patient.profile.name }}
              {{ message.patient.profile.lastname }}
            </p>
            <p class="italic text-slate-200">{{ message.message }} ...</p>
          </div>
        </div>
        <div class="flex flex-col md:flex-row w-full md:w-auto items-center gap-2">
          <button class="border border-gray-500 rounded-full px-4 py-2 w-full md:w-auto">
            lire
          </button>
          <button
            (click)="setPatientSchedule(message)"
            class="border border-gray-500 rounded-full px-4 py-2 w-full md:w-auto"
          >
            approver rendez-vous
          </button>
          <button class="border border-gray-500 rounded-full px-4 py-2 w-full md:w-auto">
            repondre
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="border flex flex-col justify-between h-100 bg-slate-800 md:col-span-2 border-gray-500 rounded-2xl p-4 snap-end"
  >
    <div>
      <p class="capitalize text-xl font-medium">mes rendez-vous avec les patient</p>
    </div>

    <div class="w-full h-[85%] custom-scroll overflow-y-auto snap-y snap-proximity pb-20">
      <table class="w-full text-start border border-white snap-start">
        <thead class="bg-slate-900 border border-gray-500 sticky">
          <th class="text-start px-4 py-2 capitalize">name</th>
          <th class="text-start px-4 py-2 capitalize">lasthname</th>
          <th class="text-start px-4 py-2 capitalize">date</th>
          <th class="text-start px-4 py-2 capitalize">heure</th>
          <th class="text-start px-4 py-2 capitalize">email</th>
          <th class="text-start px-4 py-2 capitalize">rendez-vous</th>
        </thead>
        <tbody class=" ">
          <tr
            class="border border-gray-500"
            *ngFor="let item of [4, 4, 5, 4, 5, 6, 5, 4, 4, 5, 6, 4, 4, 5]"
          >
            <td class="text-start px-4 py-2 capitalize">Franck</td>
            <td class="text-start px-4 py-2 capitalize">Amani</td>
            <td class="text-start px-4 py-2 capitalize">2020-10-10</td>
            <td class="text-start px-4 py-2 capitalize">10:10</td>
            <td class="text-start px-4 py-2 capitalize">franck@gmail.com</td>
            <td class="text-start px-4 py-2 capitalize">
              <button class="border border-gray-500 w-full rounded-full">fait</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
